.nav{
    position: fixed;
    display: flex;
    background-color: rgba(0, 80, 0, 0.649);
    color: white;
    font-size: medium;
    height: 7vh;
    width: 100%;
}
.menu{
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.menu ul{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.menu li{
    list-style: none;
}
.carImg{
    height: 8vh;
    margin: 0 3px 0 3px;
    max-width: 40vw;
}
.subtitleImg{
    height: 1.3vw;
    max-width: 40vw;
}
.partLink{
    text-decoration: none;
    color: white;
}
.menulist{
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.menulist:active{
    background-color: rgba(0, 0, 0, 0.455);
}
.partLink:hover{
    color: rgb(255, 205, 139);
}
/* mobile configuration */
.mobileContainer{
  height: 100vh;
  width: 85vw;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.948);
  transition: margin-left 0.3s ease-out;
}
.mobileUl{
    text-align: center;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.152);
}
.mobileListPart{
    border-bottom: 1px solid rgba(255, 255, 255, 0.152);
}
.mobilePartLink{
    border-top: 10%;
    padding: 5%;
    padding-left: 25%;
    padding-right: 25%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.727);
}
.mobilePartLinkDiv{
    margin-top: 5%;
    margin-bottom: 5%;
}
.mobilePartLink:active{
    color: black;
}
@media screen and (max-width: 1060px) {
    body{
        font-size: 1rem;
    }
    .nav .webUl{
        visibility: collapse;
        width: 0;
        justify-content: center;
    }
    .menu{
        justify-content: end;
        display: flex;
    }
    .menulist{
        visibility: visible;
        position: absolute;
        margin-right: 2vw;
        max-height: 50%;
    }
    .carImg{
        justify-content: start;
        height: 3rem;
    }
    .subtitleImg{
        height: 1.2rem;
    }
    .nav .aText{
        margin-right: auto;
    }
    
}

